@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
    background: linear-gradient(to right,purple,red,orange);
}
body{
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
h1{
    background: linear-gradient(to right, #f7971e, #ffd200);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-align: center;
    font-size:9.0rem;
    font-family: 'Bangers', serif;
    letter-spacing:0.7rem;
}
canvas{
    background: black;
    margin-left: 4px;
    margin-right: 4px;
}

#myBtn{
    position: absolute;
    margin: 4px 2px;
    font-size:25px;
    text-align: center;
    right: 50%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-background-clip:text;
    color: purple;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 20%;
    overflow: auto;
    display: none;
}
.close {
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
button{
    transition-duration: 0.6s;
    animation: none;
}
button:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
    transition-duration: 0.6s;
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-header{
    padding: 1px 8px;
}
.modal-body {
    padding: 4px 4px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
